.bg-ff{
    margin: 5rem 0;
    background-color: #fff;
    padding: 2rem;
}

.newpost{

}

.newpost__campo{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    row-gap: 0.5rem;
}

.campo--info{
    font-size: 2rem;
}

label{
    font-size: 2rem;
}

input, textarea{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.315);
    outline: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 100%;
    color: #000;
}

.campo--title{
    font-size: 3rem;
}


