.post--portada{
    font-size: 3rem;
}

.post{
    background-color: #fff;
    transform: translateY(-12rem);
    height: 20rem;
    padding: 3rem 5rem;
}

.post__img{
    display: block;
}

.btn--edit{
    margin: 5rem 0;
}

.post__summary{
    font-size: 2rem;
    font-style: italic;
}

.post__description{
    white-space: pre-wrap;
    font-size: 2rem;
    line-height: 1.5;
}