.portada{
    width: 100%;
    height: 50rem;
    position: relative;
}

.portada__img img{
    width: 100%;
    max-height: 50rem;
    object-fit: cover;
}

.portada__title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.portada__title h1, .portada__title p{
    color: #fff;
}

.portada__title h1{
    font-size: 6rem;
}

.portada__title p{
    font-size: 2rem;
}

.cards{
    padding: 5rem 0;    
    transform: translateY(-12rem);
}

.flex{
    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
}

.post{
    background-color: #fff;
    box-shadow: 0 25px 60px 0 rgb(0 0 0 / 5%);
}

.post__info{
    text-align: center;
    padding: 2rem 4rem;
}

.post__info h2{
    font-size: 3rem;
    font-weight: 400;
    color: #111;
    padding: 2rem 0;
}

.post__info h2:hover{
    color: #e22c2f;
}

.post__info .info--user{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3rem;
    color: #888888;
    font-weight: 600;
    padding: 2rem 0;
}

.post__info .info--summary{
    margin-top: 3rem;
    font-size: 2rem;
    color: #333;
    text-overflow: ellipsis;
    line-height: 1.70;
    height: 9.1rem;
    overflow: hidden;
}

.post__img{
    height: 25rem;
}

.flex__card{
    height: 15rem;
    flex: 1;
    position: relative;
}

.card--bg{
    width: 100%;
    height: 100%;
}

.card--bg img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    filter: brightness(0.5);
}

.card--absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.card--absolute p{
    color: #fff;
    font-size: 2rem;
}
.btn--read{
    margin: 4rem 0;
}
