.cards{
    padding: 5rem 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
}

.flex__card{
    height: 15rem;
    flex: 1;
    position: relative;
}

.card--bg{
    background-color: #000;
    height: 100%;
    width: 100%;
}

.card--absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.card--absolute p{
    color: #fff;
    font-size: 2rem;
}