{% extends "base.html" %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/newpost.css' %}">    
{% endblock %}

{%block titleMeta%} Creá un Post | Blog {% endblock %}

{% block content %}
    <section class="container">
        <div class="bg-ff">
            <form action="" method="POST" class="newpost" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <div class="newpost__campo">
                        {% if field.id_for_label != "id_title" %}
                            <label for="{{ field.id_for_label}}">{{field.label}}</label>
                        {% endif %}
    
                        {{ field }}
                    </div>

                    {% if field.id_for_label == "id_title"  %}
                        <p class="campo--info">Utilice este espacio para añadir informacion a su Post</p>
                    {% endif%}
                {% endfor %}
                <input type="submit" value="Crear Post" class="btn--create">
            </form>
        </div>
    </section>
{% endblock %}