{% extends "base.html" %}

{% block link %}
    {% load static %}  
    <link rel="stylesheet" href="{% static '/css/post.css' %}">  
{% endblock %}

{%block titleMeta%} BlogCoder | {{ post.title }} {% endblock %}

{% block portada-title %}
<p class="post--portada">{{post.title}}</p>
{% endblock %}

{% block content %}
    <section class="container post">
        <img src="#" alt="{{post.title}}">
        <p class="post__summary">{{post.summary}}</p>
        <p class="post__description">{{post.description}}</p>
    </section>

{% endblock %}