{% extends "base.html" %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% endblock %}

{%block titleMeta%} Mi Perfil | Blog {% endblock %}

{% block portada-title %}
<h1>Perfil</h1>
{% endblock %}


{% block content %}
    <section class="container profile">
        <a href="{% url 'edit_profile' %}" class="btn--create btn--edit-profile">Editar</a>
        <div class="profile-div">
            <div class="profile-div__imagen">
                {% if avatar.imagen %}
                    <img src="{% get_media_prefix %}{{avatar.imagen}}" alt="{{ user.username }}">        
                {% else %}
                    <img src="{% static '/media/usuario-n.png' %}" alt="{{ user.username }}">        
                {% endif %}
            </div>
            <div class="profile-div__info">
                <p>{{user.username}}</p>
                <p>{{user.email}}</p>
                <p>{{user.last_name}}</p>
                <p>{{user.first_name}}</p>
            </div>
        </div>
    </section>
{% endblock %}